@model IEnumerable<CV_siten.Data.Models.Project>

@{
    ViewData["Title"] = "Sökresultat";
    var personer = ViewBag.personResult as List<CV_siten.Data.Models.Person>;
}

<section class="sr-main" style="background-color:#2c3e50;">
    <h2 class="text-center" style="color:white">Sökresultat för "@ViewBag.SearchQuery"</h2>

    <div class="sr-results-list">
        <h3 class="sr-matchPerson" style="color:white;">Matchande Personer</h3>
        
        @if (personer != null && personer.Any())
        {
            @foreach (var pers in personer)
            {
                <a class="sr-profile-card" asp-controller="Account" asp-action="Profile" asp-route-id="@pers.Id">
                    <div class="sr-img-wrapper">
                        <img src="~/images/ProfilePicture/@(string.IsNullOrEmpty(pers.ImageUrl) ? "defaultPicture.jpg" : pers.ImageUrl)"
                             alt="Profilbild" class="sr-profile-img" />
                    </div>

                    <div class="sr-identity-box">
                        <h3 class="sr-full-name">@pers.FirstName @pers.LastName</h3>
                        <p class="sr-job-title">(@pers.JobTitle)</p>
                    </div>

                    <div class="sr-bio-container">
                        <p class="sr-bio-text">@pers.Description</p>
                    </div>
                </a>
            }
        }
        else
        {
            <p class="sr-no-results">Inga personer hittades.</p>
        }
    </div>
</section>